.padreProtectoras {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  &__divTop{
    width: 90%;
    margin-top: 44px;
    &--img{
        width: 24px;
    }
  }
  &__titulo {
    color: #01748e;
    font-size: 25px;
    margin-top: 20px;
  }
  &__hijo {
    width: 80%;
    margin-top: 24px;
    &--body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid #bdd2d6;
      border-radius: 4px;
      &--name {
        color: #01748e;
        font-size: 18px;
        margin: 15px 0px;
      }
      &--info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        &--textos {
          margin-left: 20px;
          &--p {
            margin: 4px;
          }
        }
        &--img {
          width: 50px;
          margin-right: 20px;
        }
      }
    }
  }
}
